<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Class Info</h2>
      <p>Show or edit a Class</p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
  <section class="container w-50 my-4">
    <div class="container mb-4">
      {{#with class}}
      <table class="table">
        <tr>
          <th scope="row" colspan="4">
            <h3 class="text-center">Class: {{loud title}}</h3>
          </th>
        </tr>
        <tr>
          <th scope="row">Teacher:</th>
          <td colspan="3">{{nameOf teacher}}</td>
        </tr>
        <tr>
          <th scope="row">Start Date:</th>
          <td>{{start}}</td>
          <th scope="row">End Date:</th>
          <td>{{end}}</td>
        </tr>
        <tr>
          <th scope="row">Students:</th>
          <td colspan="3" class="row">{{#each students}}
            <p class="col-sm-4"><b>{{addOne @key}}-</b> {{nameOf this}}</p>
            {{/each}}
          </td>
        </tr>
      </table>
       {{/with}}
    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->

<button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#staticBackdrop">
              +
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/add-class" method="POST">
          <div class="form-group">
            <label>Class Title:</label>
            <input type="text" class="form-control" name="title">
          </div>
          <div class="form-group">
            <label>Start Date:</label>
            <input type="date" class="form-control" name="start">
          </div>
          <div class="form-group">
            <label>End Date:</label>
            <input type="date" class="form-control" name="end">
          </div>
          <div class="form-group">
            <button type="submit" class="get-started-btn float-right ">add</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>