<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Classes Page</h2>
      <p>Add or edit a Class</p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
  <section class="container w-50 my-4">
    <div class="container mb-4">
      <table class="table">
        <tr>
          <th scope="row" colspan="5">
            <button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#staticBackdrop">
              +
            </button>
            <h3 class="text-center">Classes List</h3>
          </th>
        </tr>
        <tr>
          <th scope="row">#</th>
          <th scope="row">Name</th>
          <th scope="row">Start Time</th>
          <th scope="row">End Time</th>
          <th scope="row"></th>
        </tr>

        {{#each clsses}}
        <tr>
          <td>{{addOne @key}}</td>
          {{#with this}}
          <td>{{title}}</td>
          <td>{{start}}</td>
          <td>{{end}}</td>
          <td>
              <input value="{{_id}}" name="_id" class="d-none">
              <button type="submit" class="btn btn-warning">
                <a href="/class-page/{{_id}}" style="color: white;">Show</a>
              </button>
          </td>
          {{/with}}
        </tr>
        {{/each}}

      </table>
    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/add-class" method="POST">
          <div class="form-group">
            <label>Class Title:</label>
            <input type="text" class="form-control" name="title">
          </div>
          <div class="form-group">
            <label>Start Date:</label>
            <input type="date" class="form-control" name="start">
          </div>
          <div class="form-group">
            <label>End Date:</label>
            <input type="date" class="form-control" name="end">
          </div>
          <div class="form-group">
            <button type="submit" class="get-started-btn float-right ">add</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>